:root {
  --clr-primary: #6741d9;
  --clr-primary-light: #7950f2;
  --clr-text: #dee2e6;
  --clr-text-dark: #adb5bd;
  --clr-background-100: #343a40;
  --clr-background-500: #2b3035;
  --clr-background-900: #212529;
  --clr-red: #fa5252;
  --clr-red-dark: #e03131;

  --font-family:
    -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Open Sans, Helvetica Neue, sans-serif;
  --font-size-md: 1rem;
  --font-size-lg: 1.3rem;
  --font-size-xl: 2rem;
  --font-size-2xl: 4rem;

  --font-weight-md: 600;

  --spacing-min: 10px;
  --spacing-normal: 1rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100%;
}

body {
  width: 100%;
  height: 100vh;
  padding: var(--spacing-normal);

  font-family: var(--font-family);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-md);
  color: var(--clr-text);

  background-color: var(--clr-background-900);
}

.app {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
}

.nav-bar {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  gap: 0.5rem;

  /* padding: 1rem 3rem; */
  padding-inline: var(--spacing-min);
  padding-block: var(--spacing-normal);
  border-radius: 0.8rem;
  background-color: var(--clr-primary);
}

.logo {
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
  /* background-color: #fa5252; */
  text-shadow: -2px 2px 2px #0000001a;

  span {
    font-size: var(--font-size-xl);
    line-height: 1;
    transform: translateY(-2px);
  }

  h1 {
    line-height: 1;
  }
}

.search {
  all: unset;
  align-self: stretch;
  padding: 0.3rem 1rem;

  font-family: var(--font-family);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-lg);
  color: var(--clr-text);

  border-radius: 0.3rem;
  background-color: var(--clr-primary-light);
  box-shadow: 0 0 2px 1px #0000000e;

  transition: all 300ms;
}

.search::placeholder {
  color: var(--clr-text-dark);
}

.search:focus {
  /* background-color: #212529; */
  transform: translateY(-3px);
  box-shadow: 0px 4px 8px 5px #0000000e;
}

.num-results {
  align-self: flex-end;
}

.main {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-normal);
  align-items: center;
  /* justify-content: center; */

  /* overflow: hidden; */
  padding: var(--spacing-normal);
  /* background-color: darkblue; */
}

.box {
  position: relative;
  /* max-width: 42rem; */
  width: min(21rem, 100%);

  min-height: 450px;

  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 0.4rem;
  background-color: var(--clr-background-500);

  .list {
    list-style: none;
    padding: var(--spacing-min) 0;

    div {
      display: flex;
      grid-area: description;
      align-items: center;
      gap: var(--spacing-min);

      font-size: 0.8rem;

      p {
        display: flex;
        gap: 0.2rem;
      }
    }
  }

  li {
    display: grid;
    grid-template-columns: 2rem 1fr;
    grid-template-areas: 'icon title' 'icon description';
    column-gap: 1rem;

    padding-inline: var(--spacing-normal);
    padding-block: 0.8rem;
    border-bottom: 1px solid var(--clr-background-100);

    cursor: pointer;
    transition: all 300ms;
  }

  img {
    grid-area: icon;
    width: 100%;
  }

  h3 {
    grid-area: title;
    font-size: 1rem;
  }

  h2 {
    grid-area: title;
    font-size: 1.2rem;
  }
}

.btn-toggle {
  position: absolute;
  right: 0.2rem;
  top: 0.2rem;
  aspect-ratio: 1;
  height: 1.4rem;

  border: none;
  border-radius: 50%;
  background-color: var(--clr-background-900);

  cursor: pointer;
  z-index: 999;
}

.btn-toggle::before,
.btn-toggle::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-color: var(--clr-text);
}

.btn-toggle::before {
  width: 50%;
  height: 3px;
}

.btn-toggle::after {
  width: 3px;
  height: 50%;
}

.btn-toggle[data-open='true']::after {
  display: none;
}

.box {
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
  transition: all 300ms;
}

.box:hover {
  scrollbar-width: thin;
  scrollbar-color: var(--clr-background-100) transparent;
}

.summary {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 1.2em 1rem;
  border-radius: 0.8rem;
  background-color: var(--clr-background-100);
  box-shadow: 0px 6px 10px 10px #00000014;

  div {
    display: flex;
    align-items: center;
    gap: var(--spacing-min);

    font-size: 0.8rem;
  }
}

@media (width>750px) {
  .app {
    height: 100%;
  }

  .nav-bar {
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;

    padding: 0.8rem 1rem;
  }

  .search {
    width: 21rem;
  }

  .logo {
    align-self: center;
    padding-bottom: 0.2rem;

    span {
      font-size: 1.6rem;
      line-height: 1;
      transform: translateY(-3px);
    }

    h1 {
      line-height: 1;
      font-size: 1.6rem;
    }
  }

  .num-results {
    align-self: center;
  }

  .main {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    overflow: hidden;
  }

  .box {
    min-height: 0;
  }
}
